html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1 {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
}